{{template "base" .}}
{{define "title"}}Помощь{{end}}
{{define "pagestyle"}}
<style type="text/css">


</style>
{{end}}
{{define "content"}}
<div class="container">
<div class="row-fluid">
<h2>Формирование заказов</h2>
<p>Работа с программой из 1с строится на обмене HTTP запросами.<br />
Расчет потребности товаров по каждому магазину производится командой http://<адрес>:3000/api/makeorders/?start=ok<br />
Получить заказы (xml файл) можно командой http://<адрес>:3000/api/getorders/<br />
<a class="btn" href="/api/getorders/">Получить заказы »</a></p>
<h2>Первоначальное выполнение расчета сети</h2>
<p>Первоначальный расчет потребности товаров для всех магазинов производится командой http://<адрес>:3000/api/calc/?start=ok<br />
Расчет занимает довольно продолжительное время, порядка 3 часов. Можно запустить прогноз только для одного склада http://<адрес>:3000/api/calc/?start=ok&store=&lt;UID склада&gt;
или для одного товара по этому складу http://<адрес>:3000/api/calc/?start=ok&store=&lt;UID склада&gt;&goods=&lt;UID товара&gt;<br />
Пока расчет не окончен повторный запуск команды http://<адрес>:3000/api/calc/ будет выводить на экран сообщение, что программа находится в режиме расчета и для остановки необходим стоп сигнал.<br />
Для принудительной остановки расчета необходимо запустить команду http://<адрес>:3000/api/calc/?stop=<число-команда>  где <число-команда> вы увидете на экране выполнив http://<адрес>:3000/api/calc/<br />
В дальнейшем полный пересчет сети не требуется. Достаточно выполнять только команду формирования заказов</p>
<p><a class="btn" href="/api/calc/?start=ok">Расчитать все »</a></p>
<p><h2>Прочие команды</h2></p>
<h3>Показать склады</h3>
<p>GET запрос http://<адрес>:3000/api/stocks/ покажет все склады<br />
Пример: <a class="btn" href="/api/stocks">Показать склады</a></p>
<h3>Показать товар</h3>
GET запрос http://<адрес>:3000/api/goods/&lt;UID товара&gt; покажет данные по товару<br />
Пример: <a class="btn" href="/api/goods/4cbf1130-790f-11e7-870a-708bcd7bb395">Показать товар</a></p>
<h3>Завести новый или обновить существующий товар</h3>
<p>POST запрос по адресу http://<адрес>:3000/api/goods/&lt;UID товара&gt; с json телом запроса обновит или вставит новую номенклатуру<br />
<h5>Пример json массива тела запроса</h5>
<pre><code>[{
"uidgoods": "0bab8570-790f-11e7-870a-708bcd7bb395",
"group": "48", //группа товара
"name": "Ручка Vaillant TEC Plus серая круг.  (арт.0020048969)",
"art": "48790",					
}]</code></pre></p>
<h3>Показать потребность товара на складе</h3>
<p>http://<адрес>:3000/api/predict/&lt;UID склада&gt;/&lt;UID товара&gt; покажет предсказание по потребности товара на складе<br />
Пример: <a class="btn" href="/api/predict/a109b43f-8dce-11e5-ac24-e03f490fb21b/0bab8570-790f-11e7-870a-708bcd7bb395">Показать потребность товара</a></p>
<h3>Вставить движение товара по складу</h3>
<p>POST запрос http://<адрес>:3000/api/setsales/ вставит или обновит продажи для склада</p>
<h5>Пример json массива тела запроса</h5>
<p><pre><code>[{
"uidstore": "a109b43f-8dce-11e5-ac24-e03f490fb21b",
"uidgoods": "0bab8570-790f-11e7-870a-708bcd7bb395",
"groupGoods": "27", //группа товара
"period": "2020-05-01T18:01:05", //дата движения
"tipmov": "M",					//тип движения, S-продажа, М-перемещение
"cnt": -3,						//количество
"summa": 0,						//сумма
"margin": 0,					//маржа
"balance": 3,					//остаток после движения товара
"prevd": 0,						//рабочих дней от предидущего движения
"zerod": 0						//дней отсутствия на складе от предидущего движения
},
{
"uidstore": "a109b43f-8dce-11e5-ac24-e03f490fb21b",
"uidgoods": "4cbf1130-790f-11e7-870a-708bcd7bb395",
"groupGoods": "27",
"tipmov": "M",
"cnt": -4,
"summa": 0,
"margin": 0,
"balance": 7,
"prevd": 1,
"zerod": 0
}]</code></pre></p>
<h3>Вставить или обновить матрицу товаров по складу</h3>
<p>POST запрос http://<адрес>:3000/api/setsalesmatrix/ синхронизирует с 1с матрицу товаров</p>
<h5>Пример json массива тела запроса</h5>
<p><pre><code>
[
{"uidstore":"91f60b57-d337-11e6-8c9e-708bcd7bb395",
"uidgoods":"31b739b0-7cd1-11e7-870a-708bcd7bb395",
"minimum":10, //минимальный остаток на складе
"maximum":0, //максимальный остаток на складе, 0-любой
"inuse":false, //в ассортименте
"step":10},   //кратность упаковки
{"uidstore":"91f60b57-d337-11e6-8c9e-708bcd7bb395",
"uidgoods":"4aaa66e0-7cd1-11e7-870a-708bcd7bb395",
"minimum":10,
"maximum":0,
"inuse":false,
"step":10}
]</code></pre></p>
<h3>Вставить или обновить ABC классификацию товаров по складу</h3>
<p>POST запрос http://<адрес>:3000/api/recalcabc/&lt;UID склада&gt; обновит ABC классификацию для склада. Можно указать POST параметры периода от даты dfrom до даты dto по продажам в этот период будет рассчитана АВС классификация. Если периоды не заданы, то расчет производится по данным за последние 6 месяцев. 
</p>
</div>
</div>
{{end}}
{{define "jscript"}}
<script type="text/javascript">
</script>  
{{end}}