{{template "base" .}}
{{define "title"}}Главная{{end}}
{{define "pagestyle"}}
<style type="text/css">


</style>
{{end}}
{{define "content"}}
<div class="container">
{{if .Error}}
	<div class="alert alert-danger" role="alert">
	  {{.Error}}
	</div>
{{end}}
{{if .Neurostatus}}
	<div class="alert alert-primary" role="alert">
	  {{.Neurostatus}}
	</div>
{{end}}
<div class="row">
<div class="col-md-4">
<h2>Запуск расчета</h2>
<p>Работа с программой из 1с строится на обмене HTTP запросами.<br />
Расчет потребности товаров по каждому магазину производится командой http://<адрес>:3000/api/makeorders/?start=ok<br />
Расчет занимает довольно продолжительное время, порядка 3 часов. Можно запустить прогноз только для одного склада http://<адрес>:3000/api/makeorders/?start=ok&store=&lt;UID склада&gt;
или для одного товара по этому складу http://<адрес>:3000/api/makeorders/?start=ok&store=&lt;UID склада&gt;&goods=&lt;UID товара&gt;<br />
Пока расчет не окончен повторный запуск команды http://<адрес>:3000/api/makeorders/ будет выводить на экран сообщение, что программа находится в режиме расчета и для остановки необходим стоп сигнал.<br />
Для принудительной остановки расчета необходимо запустить команду http://<адрес>:3000/api/makeorders/?stop=<число-команда>  где <число-команда> вы увидете на экране выполнив http://<адрес>:3000/api/makeorders/<br />
Для запуска расчета статистики потребления жмите сюда </p>
<p>
Заказы для<select class="form-control basicAutoSelect" id="uidstores" name="uidstores" placeholder="Склад...">
		<option value="" selected>Рассчитать все склады...</option>
		{{range $index, $el := .Stores}}
		<option value="{{$el.KeyStore}}">{{$el.Name}}</option>	
		{{end}}
		</select>
		<button class="btn" id="makeop" data-href="/api/makeorders/?start=ok">Расчитать »</button>
</p>
</div>
<div class="col-md-4">
<h2>Формирование заказов</h2>
<p>Расчет потребности товаров по каждому магазину производится командой http://<адрес>:3000/api/makeorders/?start=ok<br />
Получить заказы (xml файл) можно командой http://<адрес>:3000/api/getorders/</p>
<p><a class="btn" href="/api/getorders/">Получить заказы »</a></p>
</div>
<div class="col-md-4">
<h2>Прочие команды</h2>
<p>GET запрос http://<адрес>:3000/api/stocks/ покажет все склады<br />
GET запрос http://<адрес>:3000/api/goods/&lt;UID товара&gt; покажет данные по товару<br />
PUT запрос по адресу http://<адрес>:3000/api/goods/&lt;UID товара&gt; с json параметрами запроса обновит или вставит новую номенклатуру<br />
http://<адрес>:3000/api/predict/&lt;UID склада&gt;/&lt;UID товара&gt; покажет предсказание по потребности товара на складе<br />
POST запрос http://<адрес>:3000/api/sales/:store/:goods вставит или обновит продажи для склада<br />
POST запрос http://<адрес>:3000/api/recalcabc/:store обновит ABC классификацию. Можно указать POST параметры периода от даты dfrom до даты dto по продажам в этот период будет рассчитана АВС классификация. Если периоды не заданы, то расчет производится по данным за последние 6 месяцев. 
</p>
<p><a class="btn" href="/help">Подробнее »</a></p>
</div>
</div>
</div>
{{end}}
{{define "jscript"}}
<script type="text/javascript">
$(document).ready(function(){
	$("#uidstores").change(function(){
      var selected = $(this).children("option:selected").text();
	  var val = $(this).children("option:selected").val();
      var href="/api/makeorders/?start=ok";
	  if(val !=""){
		href=href+"&store="+val
		$("#makeop").data("href",href);
	  }
    });
	$("#makeop").on("click",function(){
		var url=$("#makeop").data("href");
		var val = $("#uidstores").children("option:selected").val();
		if(val==""){
		  var r = confirm("Вы действительно хотите запустить расчет для всех складов?");
		  if (r != true) {
			return;
		  } 
		}
		$.ajax({
				type: "POST",
				url: url
			}).done(function() {
			var selected = $("#uidstores").children("option:selected").text();
			alert("Запущен расчет для склада "+selected);
			location.reload();
		}).fail(function(jqXHR, textStatus) {
		if(jqXHR.status==423){
			var s=jqXHR.responseJSON;
			alert( textStatus+" Я занята, "+s.message );
		}else{
			alert( jqXHR.status+" "+textStatus );
		}
		});
	});
});
</script>  
{{end}}