{{template "base" .}}
{{define "title"}}Заказы поставщикам{{end}}
{{define "pagestyle"}}
<style type="text/css">
#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
.caldp{
cursor: pointer;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: rgb(44, 86, 122);
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
  background: rgb(220, 0, 0);
  color: #fff;
}
#calendar2 tbody td.active {
  background: rgb(128, 175, 232);
  color: #fff;
}

#taborder tr.active{
	background-color:#c2dcfd;
}
#taborder th.sort-desc::before{
border-width: 5px 5px 0;
border-color: #009a67 transparent transparent;
}
#taborder th.sort-asc::before{
border-width: 0 5px 5px;
border-color: transparent transparent #009a67;
}
#taborder th.sort::before{
content: " ";
    display: block;
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
}	
.sortable{
cursor:pointer;
}
.cnt {cursor:pointer;}
</style>
{{end}}
{{define "content"}}
<div class="container-fluid">
	<div class="row">
	
        <div class="col-md-2 d-none d-md-block bg-light sidebar mt-3">
          <div class="sidebar-sticky">
            <table id="calendar2">
			  <thead>
				<tr><td>‹<td colspan="5"><td>›
				<tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
			  <tbody>
			</table> 
			<div>
			<h5>Поставщик</h5>
			<select class="form-control basicAutoSelect" id="uidproviders" name="uidproviders" placeholder="Поставщик...">
			<option value="" selected>Поставщик...</option>
			{{range $index, $el := .Providers}}
			<option value="{{$el.UID}}">{{$el.Name}}</option>	
			{{end}}
			</select>
			</div>
			<div>
			<h5>Получатель</h5>
			<select class="form-control basicAutoSelect" id="uidrecipients" name="uidrecipients" placeholder="Получатель...">
			<option value="" selected>Получатель...</option>
			{{range $index, $el := .Recipients}}
			<option value="{{$el.UID}}">{{$el.Name}}</option>	
			{{end}}
			</select>
			</div>
          </div>
        </div>

        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
		{{if .Error}}
		<div class="alert alert-danger" role="alert">
		{{.Error}}
		</div>
		{{end}}
		<h1 class="h2">Заказы поставщикам</h1>
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
			<input id="pageindex" type="hidden" style="display:none;" value="{{.PageIndex}}">
			<input id="pagesize" type="hidden" style="display:none;" value="{{.PageSize}}">
			<input id="sortfield" type="hidden" style="display:none;" value="{{.SortField}}">
			<input id="sortorder" type="hidden" style="display:none;" value="{{.SortOrder}}">
			<input id="pagefilter" type="hidden" style="display:none;" value="{{.PageFilter}}">
			<table class="table table-hover table-sm" id="taborder">
			  <thead>
				<tr>
				  <th scope="col">#</th>
				  <th scope="col" class="sortable{{if eq .SortField "period"}} sort{{end}}{{if eq .SortOrder "asc"}} sort-asc{{else}} sort-desc{{end}}" data-fname="period">Дата</th>
				  <th scope="col" class="sortable{{if eq .SortField "numdoc"}} sort{{end}}{{if eq .SortOrder "asc"}} sort-asc{{else}} sort-desc{{end}}" data-fname="numdoc">Номер</th>
				  <th scope="col" class="sortable{{if eq .SortField "provider"}} sort{{end}}{{if eq .SortOrder "asc"}} sort-asc{{else}} sort-desc{{end}}" data-fname="provider">Поставщик</th>
				  <th scope="col" class="sortable{{if eq .SortField "recipient"}} sort{{end}}{{if eq .SortOrder "asc"}} sort-asc{{else}} sort-desc{{end}}" data-fname="recipient">Получатель</th>
				</tr>
			  </thead>
			  <tbody>
			  {{range $index, $el := .Zaks}}
			  <tr class="rowtab">
			  <th scope="row">{{Plus $.Fpage $index}}</th>
				<td>{{$el.Period}}</td>
				<td class="itemdoc">{{$el.Num}}</td>
				<td>{{$el.ProviderName}}</td>
				<td>{{$el.RecipientName}}</td>
			</tr>
			{{end}}
			</tbody>
			</table>
		</div>
		<div class="row">
            <nav aria-label="Page navigation example">
			  <ul class="pagination">
				<li class="page-item">
				  <a class="page-link" href="/orders?pageIndex={{.Prevpages}}&pageSize={{.PageSize}}&sortField={{.SortField}}&sortOrder={{.SortOrder}}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Предидущий</span>
				  </a>
				</li>
				{{range $i, $p := .Pagination}}
				<li class="page-item{{if eq $p $.PageIndex}} active{{end}}">
					<a id="page{{$p}}" class="page-link" href="/orders?pageIndex={{$p}}&pageSize={{$.PageSize}}&sortField={{$.SortField}}&sortOrder={{$.SortOrder}}" >{{$p}}</a>
				</li>
				{{end}}
				{{if .Nextpages}}
				<li class="page-item">
				  <a class="page-link" href="/orders?pageIndex={{.Nextpages}}&pageSize={{.PageSize}}&sortField={{.SortField}}&sortOrder={{.SortOrder}}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Следующий</span>
				  </a>
				</li>
				{{end}}
			  </ul>
			</nav>
		</div>
		<hr />
		<h4>Данные заказа</h4>
			<div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary" onclick="return exportToCSV();">Выгрузить таблицу</button>
            </div>
			<div id="itemsheader">
			<p><strong>Дата заказа:</strong>&nbsp;<span class="blockquote" id="period"></span></p>
			<div class="row">
			<div class="col-md-4"><strong>Поставщик:</strong></div><div class="col-md-8"><span class="blockquote" id="provider"></span></div>
			</div>
			<div class="row">
			<div class="col-md-4"><strong>Получатель:</strong></div><div class="col-md-8"><span class="blockquote" id="recipient"></span></div>
			</div>
			<p><strong>Предполагаемая дата доставки:</strong>&nbsp;<span class="blockquote" id="delivery"></span></p>
			</div>
        	<div id="itemstab"></div>
        </main>
		
		
     </div>  
</div>
{{end}}
{{define "jscript"}}
<script src="/assets/js/bootstrap-autocomplete.min.js"></script>
<script type="text/javascript">
var Ordertab=[];
var DocNum="";
function exportToCSV() {
    var obj;
	var fn=DocNum+".csv";
	obj=Ordertab;
    if (!obj.length) {
		return;
	}
    var csvContent = "data:text/csv;charset=utf-8,";
    // headers
	for (i=0;i<obj.length;i++){
		comma="";
        for(r=0;r<obj[i].length;r++){
			csvContent =csvContent+comma+obj[i][r];
            comma=";";
        } 
        csvContent +="\n";
	} 
    csvContent +="\n";
    var encodedUri = encodeURI(csvContent);
    var link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", fn);
    document.body.appendChild(link); // Required for FF
	link.click();
    document.body.removeChild(link); 
}
function getAllUrlParams(url) {
      // get query string from url (optional) or window
      var queryString = url ? url.split('?')[1] : window.location.search.slice(1);
      // we'll store the parameters here
      var obj = {};
      // if query string exists
      if (queryString) {
        // stuff after # is not part of query string, so get rid of it
        queryString = queryString.split('#')[0];
        // split our query string into its component parts
        var arr = queryString.split('&');
        for (var i = 0; i < arr.length; i++) {
          // separate the keys and the values
          var a = arr[i].split('=');
          // set parameter name and value (use 'true' if empty)
          var paramName = a[0];
          var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];
          // (optional) keep case consistent
          paramName = paramName.toLowerCase();
          if (typeof paramValue === 'string') paramValue = paramValue.toLowerCase();
          // if the paramName ends with square brackets, e.g. colors[] or colors[2]
          if (paramName.match(/\[(\d+)?\]$/)) {
            // create key if it doesn't exist
            var key = paramName.replace(/\[(\d+)?\]/, '');
            if (!obj[key]){ obj[key] = [];}
            // if it's an indexed array e.g. colors[2]
            if (paramName.match(/\[\d+\]$/)) {
              // get the index value and add the entry at the appropriate position
              var index = /\[(\d+)\]/.exec(paramName)[1];
              obj[key][index] = paramValue;
            } else {
              // otherwise add the value to the end of the array
              obj[key].push(paramValue);
            }
          } else {
            // we're dealing with a string
            if (!obj[paramName]) {
              // if it doesn't exist, create property
              obj[paramName] = paramValue;
            } else if (obj[paramName] && typeof obj[paramName] === 'string'){
              // if property does exist and it's a string, convert it to an array
              obj[paramName] = [obj[paramName]];
              obj[paramName].push(paramValue);
            } else {
              // otherwise add the property
               obj[paramName].push(paramValue);
            }
          }
        }
      }
      return obj;
}
function Calendar2(id, year, mon, activedate) {
	var darr=activedate.split("-");
	var Dlast = new Date(year,mon+1,0).getDate(),
    D = new Date(year,mon,Dlast),
    DNlast = new Date(D.getFullYear(),D.getMonth(),Dlast).getDay(),
    DNfirst = new Date(D.getFullYear(),D.getMonth(),1).getDay(),
    calendar = '<tr>',
    month=["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"];
	var strmon=( (1+mon)<10 ? '0'+(1+mon) : (1+mon))
	if (DNfirst != 0) {
	  for(var  i = 1; i < DNfirst; i++) calendar += '<td></td>';
	}else{
	  for(var  i = 0; i < 6; i++) calendar += '<td></td>';
	}
	for(var  i = 1; i <= Dlast; i++) {
		var classactive="";
		if (darr.length>1 && i == parseInt(darr[2],10) && year == parseInt(darr[0],10) && 1+mon==parseInt(darr[1],10)){
			classactive=" active";
		}
	  if (i == new Date().getDate() && D.getFullYear() == new Date().getFullYear() && D.getMonth() == new Date().getMonth()) {
		calendar += '<td class="today'+classactive+' caldp" data-d="'+year+'-'+strmon+'-'+(i<10 ? '0'+i : i)+'">' + i+'</td>';
	  }else{
		calendar += '<td class="caldp'+classactive+'" data-d="'+year+'-'+ strmon+'-'+(i<10 ? '0'+i : i)+'">' + i+'</td>';
	  }
	  if (new Date(D.getFullYear(),D.getMonth(),i).getDay() == 0) {
		calendar += '</tr><tr>';
	  }
	}
	for(var  i = DNlast; i < 7; i++) calendar += '<td>&nbsp;';
	document.querySelector('#'+id+' tbody').innerHTML = calendar;
	document.querySelector('#'+id+' thead td:nth-child(2)').innerHTML = month[D.getMonth()] +' '+ D.getFullYear();
	document.querySelector('#'+id+' thead td:nth-child(2)').dataset.month = D.getMonth();
	document.querySelector('#'+id+' thead td:nth-child(2)').dataset.year = D.getFullYear();
	if (document.querySelectorAll('#'+id+' tbody tr').length < 6) {  // чтобы при перелистывании месяцев не "подпрыгивала" вся страница, добавляется ряд пустых клеток. Итог: всегда 6 строк для цифр
		document.querySelector('#'+id+' tbody').innerHTML += '<tr><td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;';
	}
}
$(document).ready(function(){
  $('#taborder').on('click', '.rowtab', function(){
    var doc=$(this).find('.itemdoc').text();
	DocNum=doc;
	$.get( "/api/getorder/"+doc).done(function( data ) {
		var RWS=25;
		Ordertab=[["НомерСтр","Артикул","Наименование","Количество"]];
		//itemsheader
		$("#period").text(data.orders[0].period);
		$("#recipient").text(data.orders[0].recipientname.replace(/\\/g,""));
		$("#provider").text(data.orders[0].providername.replace(/\\/g,""));
		$("#delivery").text(data.orders[0].deliveryperiod);
		$("#itemstab").html("");
		var table = document.createElement('table')
		table.className = 'table table-bordered table-striped table-sm';
		table.id="tabitems";
		var items=data.orders[0].items;
		var str='<thead><tr><th scope="col">#</th><th scope="col">Артикул</th><th scope="col">Наименование</th><th scope="col">Количество</th></tr></thead><tbody>';
		for (var i = 0; i < items.length; i++) {
			var snum=i+1;
			var gname=items[i].name.replace(/"/g,"\'");
			var comment=items[i].comment;
			let jcomment={};
			try {
				jcomment = JSON.parse(comment);
			}catch (err){
				comment="";
			}
			/*
"{days:16,demand:0.6222222222,z1:9.956,curbalance:3.00,delivdays:8,delivsales:4.9777777778,delivbalance:0.000,zforminbalance:10.00,minbalance:10.00,
delivdate:'2020-08-26',delivcnt:6.00,zitog:4.00}"
Количество дней обеспечения склада: 16
Потребность на день: 0.6222222222
Тогда необходимо заказать: 9.956
Текущий баланс 3.00
Пока товар в пути 8 дней, будет продано 4.9777777778 единиц,
и к моменту поступления на складе останется 0.000 единиц.
Добавляем к балансу 10.00 единиц до минимального остатка 10.00
Доставка предыдущего заказа будет 2020-08-26 и в пути уже находится 6.00 единиц, Итого заказываем 4.00 единиц.
			*/
			let tdcnt="";
			if( jcomment.hasOwnProperty("days")){
				comment="Количество дней обеспечения склада: "+jcomment.days+". Потребность на день: "+jcomment.demand+
				"<br />Тогда необходимо: "+jcomment.days+"*"+jcomment.demand+"="+jcomment.z1+" единиц."+
				"<br />Текущий баланс: "+jcomment.curbalance+
				"<br />Пока товар в пути "+jcomment.delivdays+" дней, будет продано "+jcomment.delivsales+" единиц<br />и к моменту поступления на складе останется "+jcomment.delivbalance+" единиц";
				if(jcomment.hasOwnProperty("zforminbalance")){comment=comment+"<br />До минимального остатка "+jcomment.minbalance+" единиц необходимо заказать "+jcomment.zforminbalance+" шт.";}
				if(jcomment.hasOwnProperty("zformaxbalance")){comment=comment+"<br />Чтобы не превысить максимальный остаток "+jcomment.maxbalance+" единиц необходимо заказать "+jcomment.zformaxbalance+" шт.";}
				if(jcomment.hasOwnProperty("step")){comment=comment+"<br />Кратность поставки "+jcomment.step+" единиц. Тогда к заказу "+jcomment.zstep+" шт.";}
				if(jcomment.hasOwnProperty("delivcnt")){comment=comment+"<br />Доставка предыдущего заказа будет "+jcomment.delivdate+" и в пути уже находится "+jcomment.delivcnt+" единиц.";}
				if(jcomment.hasOwnProperty("zitog")){comment=comment+"<br />Итого к заказу: <b>"+jcomment.zitog+"</b>";}else{comment=comment+"<br />Итого к заказу: <b>"+items[i].cnt+"</b>";};
				tdcnt='<a tabindex="0" class="cnt" data-toggle="popover" data-trigger="focus" title="Расшифровка расчета" data-content="'+comment+'">'+items[i].cnt+'</a>';
			}else{
				tdcnt=""+items[i].cnt;
			}
			if(gname.length==0){
			 gname=items[i].uid;
			} 
			str+='<tr scope="row"><td>'+snum+'</td><td data-uid="'+items[i].uid+'"><a href="/sales?uidstores='+data.orders[0].recipientuid+'&uidgoods='+items[i].uid+'&period=3&uidstores_text='+data.orders[0].recipientname.replace(/"/g,"\'")+'&uidgoods_text=('+items[i].art+") "+items[i].name.replace(/"/g,"\'")+'" target="_blank">'+items[i].art+'</a></td><td>'+gname+'</td><td>'+tdcnt+'</td></tr>'
			Ordertab.push([snum, items[i].art,gname,items[i].cnt]);
		}
		str+='</tbody>';
		table.innerHTML=str
		$("#itemstab").append(table);
		$('.cnt').popover({
			trigger: 'focus',
			html: true
		})
	});
	$('#taborder tr.active').each(function( index ) {
		$( this ).removeClass("active"); 
	});
	$(this).addClass("active");
  });
  $('.sortable').on('click',function(){
	asc="asc";
	sf=$(this).data("fname");
	if ($(this).hasClass("sort")){
		if ($(this).hasClass("sort-asc")){
			asc="desc";//делаем desc
			$( this ).removeClass("sort-asc");
			$(this).addClass("sort-desc");
		}else{
			$( this ).removeClass("sort-desc");
			$(this).addClass("sort-asc");
		}
	}else{
		$('#taborder tr th').each(function( index ) {
			$( this ).removeClass("sort"); 
			$( this ).removeClass("sort-asc");
			$( this ).removeClass("sort-desc");
		});
	}
	pgi=$("#pageindex").val();
	if(Number(pgi)==NaN){
		pgi=1;
	}
	pgs=$("#pagesize").val();
	var url="/orders?pageIndex="+pgi+"&pageSize="+pgs+"&sortField="+sf+"&sortOrder="+asc;
	window.location.href=url;
  });
  $("#uidproviders").on("change",function(){
	var filt = $(this).children("option:selected").val();
	so=$("#sortorder").val();
	sf=$("#sortfield").val();
	pgs=$("#pagesize").val();
	if(filt != ""){ filt="pageFilter=provider:"+filt;}
	if(sf != ""){ sf="&sortField="+sf;}
	if(so != ""){ so="&sortOrder="+so;}
	if(pgs != ""){ pgs="&pageSize="+pgs;}
	var url="/orders?"+filt+pgs+sf+so;
	window.location.href=url;
  });
  $("#uidrecipients").on("change",function(){
	var filt = $(this).children("option:selected").val();
	so=$("#sortorder").val();
	sf=$("#sortfield").val();
	pgs=$("#pagesize").val();
	if(filt != ""){ filt="pageFilter=recipient:"+filt;}
	if(sf != ""){ sf="&sortField="+sf;}
	if(so != ""){ so="&sortOrder="+so;}
	if(pgs != ""){ pgs="&pageSize="+pgs;}
	var url="/orders?"+filt+pgs+sf+so;
	window.location.href=url;
  });
  var filter=$("#pagefilter").val();
  var activdate="";
  filtarr=filter.split(":");
  if (filtarr[0]=="period"){
	activdate=filtarr[1];
  }	
  if (filtarr[0]=="recipient"){
	$('#uidrecipients option[value="'+filtarr[1]+'"]').prop('selected', true);
  }	
  if (filtarr[0]=="provider"){
	$('#uidproviders option[value="'+filtarr[1]+'"]').prop('selected', true);
  }
  Calendar2("calendar2", new Date().getFullYear(), new Date().getMonth(),activdate);
	// переключатель минус месяц
	document.querySelector('#calendar2 thead tr:nth-child(1) td:nth-child(1)').onclick = function() {
	  Calendar2("calendar2", document.querySelector('#calendar2 thead td:nth-child(2)').dataset.year, parseFloat(document.querySelector('#calendar2 thead td:nth-child(2)').dataset.month)-1);
	}
	// переключатель плюс месяц
	document.querySelector('#calendar2 thead tr:nth-child(1) td:nth-child(3)').onclick = function() {
	  Calendar2("calendar2", document.querySelector('#calendar2 thead td:nth-child(2)').dataset.year, parseFloat(document.querySelector('#calendar2 thead td:nth-child(2)').dataset.month)+1);
	}
	$('#calendar2 .caldp').on("click", function(){
		urlparams=getAllUrlParams(window.location.href);
		var ps=""; var sf="";var so="";
		if (urlparams.hasOwnProperty('pagesize')) {
			ps="&pageSize="+urlparams.pagesize;
		}
		if (urlparams.hasOwnProperty('sortfield')) {
			sf="&sortField="+urlparams.sortfield;
		}
		if (urlparams.hasOwnProperty('sortorder')) {
			so="&sortOrder="+urlparams.sortorder;
		}
		d=$(this).data("d");
		var url="/orders?pageFilter=period:"+d+ps+sf+so;
		window.location.href=url;
	});
});
</script>
{{end}}